footer.footer
    .container
        .copyright
            .logo
                a: img(src="app/img/sun-logo.jpg")
            .p © Copyright 2019 Simpleqode. All rights reserved.
        .menu-footer
            ul
                li
                    a terms and conditions
                li
                    a privacy policy
                li
                    a contact us
            .social
                a: i.fab.fa-github
                a: i.fab.fa-twitter
                a: i.fab.fa-instagram