include nav
header.header
    .container
        a.logo(href="#")
            h1
                img.logo-img(src="app/img/sun-logo.jpg", alt="My pug")

        ul.social 
            li.icon-list.border
                a: i.fab.fa-github
            li.icon-list
                a: i.fab.fa-twitter
            li.icon-list
                a: i.fab.fa-instagram
        +navbar()
        