-
  var navbar = [
    {item: 'welcome', 
        dropdown:[
            {dropdownlink:'header:image'},
            {dropdownlink:'header:carousel'},
            {dropdownlink:'header:parallax'},
            {dropdownlink:'header:video'}
        ] 
    },
    {item: 'landing', 
        dropdown: [
            {dropdownlink:'app'},
            {dropdownlink:'company'},
            {dropdownlink:'fullpage'},
            {dropdownlink:'product'},
            {dropdownlink:'real estate'},
            {dropdownlink:'restaurant'},
            {dropdownlink:'service'}
        ]
    },
    {item: 'pages', 
        dropdown: [
            {dropdownlink:'blog',
                dropdownchild:[
                    {navlink:'blog'},
                    {navlink:'blog:post'}
                ]
            },
            {dropdownlink:'shop',
                dropdownchild:[
                    {navlink:'shop'},
                    {navlink:'shop: item'},
                    {navlink:'shop: cart'},
                    {navlink:'shop: checkout'}
                ]},
            {dropdownlink:'about'},
            {dropdownlink:'contact'},
            {dropdownlink:'faq'},
            {dropdownlink:'pricing'},
            {dropdownlink:'sign in'},
            {dropdownlink:'sign up'},
            {dropdownlink:'404'}
        ]
    }, 
    {item: 'components', 
        dropdown:[
            {dropdownlink:'theme'},
            {dropdownlink:'bootstrap'}
        ]
    },
    {item: 'documentation'},
    {item: 'purchase now'},
  ];





