/* .header {
  width: 100%; }
  .header .container {
    width: 95%;
    margin: auto; }
    .header .container .logo {
      display: block;
      width: 200px; }
      .header .container .logo .logo-img {
        width: 31%; }
    .header .container .navbar-nav {
      width: 70%;
      display: flex;
      justify-content: space-around; } */
